{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="row justify-content-around">
        <div class="col-12">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h2>Symfony Mailer</h2>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary">Send asynchronous email</button>
            {{ form_end(form) }}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h2>Custom dispatch</h2>
            <div class="d-flex flex-column">
                <a href="{{ path('app_long_action') }}" class="btn btn-secondary mb-1" id="btnLongAction">Simulate long
                    action</a>
                <a href="{{ path('app_long_action_async') }}" class="btn btn-success mb-1">Simulate async long
                    action</a>
                <a href="{{ path('app_long_action_async',{error: true}) }}" class="btn btn-danger mb-1">Simulate async long
                    action error</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
      window.onload = (event) => {
        document.getElementById('btnLongAction').addEventListener('click', (ev) => {
          ev.target.classList.add('disabled');
        });
      };
    
    </script>

{% endblock %}
